.card{
    width: 300px;
    border: 2px solid gray;
    padding: 20px;
    margin: 4px auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

}
button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: auto;
    display: block;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: auto;
    text-align: center;

}
h2{
    margin-bottom: 10px;
}
p{
    margin-top: 0;
}
button:hover{
    background-color: rgb(25, 0, 139);
    box-shadow: 0px 4px 8px rgba(6, 60, 239, 0.832);
    font-size: 1.05em;
    transition: all 0.3s ease;
}