

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}



body{
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,#74ebd5,#ACB6E5);
    min-height:100vh;
}


.subtitle{
    text-align:center;
    color:#555;
    font-style:italic;
    margin-bottom:35px;
}


.team{
    padding:50px 20px;
}

.team h1{
    text-align:center;
    margin-bottom:40px;
    color:#333;
    font-size:40px;
}



.team-container{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
    max-width:1200px;
    margin:auto;
}


.card{
    background:#fff;
    border-radius:15px;
    padding:25px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,0.2);

    flex:1 1 250px;
    max-width:260px;

    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,0.3); ;
}

.card img{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
}

.card h2{
    margin-bottom:8px;
}

.card p{
    color:gray;
    margin-bottom:15px;
}

.card button{
    padding:10px 20px;
    border:none;
    border-radius:8px;
    background:#007bff;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

.card button:hover{
    transform:scale(1.05);
}



@media(max-width:768px){

    .card{
        flex:1 1 calc(50% - 20px);
        max-width:350px;
    }

}



@media(max-width:480px){

    .card{
        flex:1 1 100%;
        max-width:100%;
    }

}